<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Veloop Palette</string>
	<key>CFBundleExecutable</key>
	<string>VeloopPalette</string>
	<key>CFBundleIconFile</key>
	<string>Veloop.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.talentdedcat.veloop.palette</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VeloopPalette</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.2</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>ComponentInvisibleInSystemUI</key>
	<true/>
	<key>InputMethodConnectionName</key>
	<string>com_talentdedcat_veloop_palette_connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>VeloopPaletteController</string>
	<key>InputMethodType</key>
	<string>palette</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>com.talentdedcat.veloop.palette</string>
	<key>TISIntendedLanguage</key>
	<string>en</string>
</dict>
</plist>
